# Practice SQL Quiz

The database is maintained to keep track of local farmers who sell their produce at farmers' markets. There are several farms that sell to different farmers' markets and grow various fruits and vegetables.

An ERD for this database is given below. Primary keys of the tables are labeled with PK and foreign keys are labeled with FK.

![](./assets/erd-2.png)

## Questions

### 1. Get the first 20 rows of the `farm_name` column in the `farms` table.

Answer

```MySQL
 SELECT *
 FROM farms
 LIMIT 20
```

### 2. Get a list of the types and colors of fruits that are organic (`organic` is `yes`).

Answer

```MySQL
 SELECT type, color
 FROM produce
 WHERE organic = 'yes'
```

### 3. Get all of the names and types of organic produce (`organic` is `yes`) that cost more than $2.00 per unit.

Answer

```MySQL
SELECT name, type
FROM produce
WHERE organic = 'yes' AND price_per_unit > $2
```

### 4. Get all of the columns from farms where the farm name starts with the letter 'M'.

Answer

```MySQL
 SELECT *
 FROM farms
 WHERE farm_name LIKE "M%"
```

### 5. Get a list of all of the unique locations of farms.

Answer

```MySQL
 SELECT DISTINCT(location)
 FROM farms
```

### 6. Get the average price per unit of produce (group by `name`) that averages less than $1.00.

Answer

```MySQL
 SELECT name, AVG(price_per_unit)
 FROM produce
 GROUP BY name
 HAVING AVG(price_per_unit) < 1
```

### 7. Get the farm name, contact number, and market hours as `market_hours` of all farms that sell at the `downtown` market location.

Answer

```MySQL
SELECT f.farm_name, f.contact_number, m.hours AS market_hours
FROM farms AS f
INNER JOIN markets AS m ON f.market_id = m.market_id
WHERE f.location = 'downtown'
```

### 8. What is the maximum amount (`quantity`) of produce? Name this column `max_quant`.

Answer

```MySQL
 SELECT MAX(quantity) AS max_quant
 FROM produce
```

### 9. Get the farm name and produce name of all farms that sell green apples (produce `name` is `apple` and `color` is `green`).

Answer

```MySQL
 SELECT f.farm_name, p.name
 FROM farms AS f
 INNER JOIN produce AS p ON f.id = p.farm_id
 WHERE p.name = 'apple' AND p.color = 'green'
```

### 10. Get the market location, farm name, produce name, and produce quantity of organic vegetables (`type` is `vegetable` and `organic` is `yes`). Order the results in reverse alphabetical order by farm name.

Answer

```MySQL
 SELECT m.location, f.farm_name, p.name, p.quantity
 FROM farms AS f
 INNER JOIN produce AS p ON f.id = p.farmer_id
 INNER JOIN markets AS m ON jf.market_id = m.market_id
 WHERE p.type = 'vegetable' AND p.organic = 'yes'
 ORDER BY f.farm_name DESC
```