## List Assignments

In [1]:
'''
data = [
  [4.9, 3.1, 1.5, 0.1],
  [5.0, 3.2, 1.2, 0.2],
  [5.5, -3.5, 1.3, 0.2],
  [4.9, 3.1, -1.5, 0.1],
  [4.4, 3.0, 1.3, 0.2],
  [5.1, -1, 1.5, 0.2],
  [5.0, 3.5, -1.3, 0.3],
]
# 1. Write a method that returns true if the input dataset has any negative values.
# 2. Write a method to find the most frequent value of the 2nd column in the dataset.
# 3. Write a method that returns all rows of dataset that do not have any negative values.
'''

data = [
  [4.9, 3.1, 1.5, 0.1],
  [5.0, 3.2, 1.2, 0.2],
  [5.5, -3.5, 1.3, 0.2],
  [4.9, 3.1, -1.5, 0.1],
  [4.4, 3.0, 1.3, 0.2],
  [5.1, -1, 1.5, 0.2],
  [5.0, 3.5, -1.3, 0.3],
]

In [24]:
import pandas as pd

df = pd.DataFrame(data)

df

     0    1    2    3
0  4.9  3.1  1.5  0.1
1  5.0  3.2  1.2  0.2
2  5.5 -3.5  1.3  0.2
3  4.9  3.1 -1.5  0.1
4  4.4  3.0  1.3  0.2
5  5.1 -1.0  1.5  0.2
6  5.0  3.5 -1.3  0.3

1. Write a method that returns true if the input dataset has any negative values.

In [25]:
(df.values < 0).any()

True

In [28]:
data

[[4.9, 3.1, 1.5, 0.1],
 [5.0, 3.2, 1.2, 0.2],
 [5.5, -3.5, 1.3, 0.2],
 [4.9, 3.1, -1.5, 0.1],
 [4.4, 3.0, 1.3, 0.2],
 [5.1, -1, 1.5, 0.2],
 [5.0, 3.5, -1.3, 0.3]]

In [26]:
def any_negs(data):
    below_zero = False
    for i in data:
        for j in i:
            if j < 0:
                below_zero = True
                break
    return below_zero

In [27]:
assert any_negs(data) == True

2. Write a method to find the most frequent value of the 2nd column in the dataset.

In [29]:
data

[[4.9, 3.1, 1.5, 0.1],
 [5.0, 3.2, 1.2, 0.2],
 [5.5, -3.5, 1.3, 0.2],
 [4.9, 3.1, -1.5, 0.1],
 [4.4, 3.0, 1.3, 0.2],
 [5.1, -1, 1.5, 0.2],
 [5.0, 3.5, -1.3, 0.3]]

In [30]:
df

     0    1    2    3
0  4.9  3.1  1.5  0.1
1  5.0  3.2  1.2  0.2
2  5.5 -3.5  1.3  0.2
3  4.9  3.1 -1.5  0.1
4  4.4  3.0  1.3  0.2
5  5.1 -1.0  1.5  0.2
6  5.0  3.5 -1.3  0.3

In [32]:
df.loc[:, 1].mode()

0    3.1
dtype: float64

In [33]:
# 2
import statistics

def sec_col_mode(data):
    second_col = []
    for i in data:
        second_col.append(i[1])
    return statistics.mode(second_col)

In [35]:
assert sec_col_mode(data) == 3.1

3. Write a method that returns all rows of dataset that do not have any negative values.

In [36]:
data

[[4.9, 3.1, 1.5, 0.1],
 [5.0, 3.2, 1.2, 0.2],
 [5.5, -3.5, 1.3, 0.2],
 [4.9, 3.1, -1.5, 0.1],
 [4.4, 3.0, 1.3, 0.2],
 [5.1, -1, 1.5, 0.2],
 [5.0, 3.5, -1.3, 0.3]]

In [37]:
df

     0    1    2    3
0  4.9  3.1  1.5  0.1
1  5.0  3.2  1.2  0.2
2  5.5 -3.5  1.3  0.2
3  4.9  3.1 -1.5  0.1
4  4.4  3.0  1.3  0.2
5  5.1 -1.0  1.5  0.2
6  5.0  3.5 -1.3  0.3

In [38]:
def no_negs(data):
    pos_rows = []
    for i in data:
        if all(x > 0 for x in i) == True:
            pos_rows.append(i)
    return pos_rows

no_negs(data)

[[4.9, 3.1, 1.5, 0.1], [5.0, 3.2, 1.2, 0.2], [4.4, 3.0, 1.3, 0.2]]

In [15]:
# John's code # 3

import pandas as pd

df = pd.DataFrame(data)

# John's code

def all_row_no_negative(df):
    """
    A method that returns all rows of dataset that do not have any negative values
    """
    df = pd.DataFrame(df)
    return df[df.mask(df>0).isnull().values.all(axis=1)]

all_row_no_negative(df)

     0    1    2    3
0  4.9  3.1  1.5  0.1
1  5.0  3.2  1.2  0.2
4  4.4  3.0  1.3  0.2

In [16]:
# son's code # 2

df = pd.DataFrame(data)
df[1].value_counts().idxmax()

3.1

In [17]:
# Sam's Code

#1
def is_neg(n):
    for i in n:
        for j in i:
            if j < 0:
                return True
    return False

print(is_neg(data))

from statistics import mode
#2
def most_freq_second(n):
    column=[]
    for i in n:
        for j in i:
            if j is i[1]:
                column.append(j)
    return mode(column)

print(most_freq_second(data))

# 3

#3
def no_neg(n):
    new_data=[]
    for i in n:
        counter= 0
        for j in i:
            if j > 0:
                counter +=1
                if counter == 4:
                    new_data.append(i)
    return new_data

print(no_neg(data))

True
3.1
[[4.9, 3.1, 1.5, 0.1], [5.0, 3.2, 1.2, 0.2], [4.4, 3.0, 1.3, 0.2]]

In [20]:
# Chris' code

def neg_num(dataset):
    for row in data:
        for num in row:
            if num < 0:
                return True
            
print(neg_num(data))

def freq_two(dataset):
    nums = []
    for row in data:
        for num in row:
            if num is row[1]:
                nums.append(num)
    return max(set(nums), key=nums.count)

print(freq_two(data))

def pos_rows(dataset):
    rows = []
    for row in data:
        for num in row:
            if num < 0:
                break
        if num < 0:
            break
        rows.append(row)
    return rows

print(pos_rows(data))

True
3.1
[[4.9, 3.1, 1.5, 0.1], [5.0, 3.2, 1.2, 0.2]]

In [19]:
# Sileshi's code

#1)
import numpy as np
import pandas as pd

my_array = np.array(data)

df = pd.DataFrame(my_array, columns = ['Column_A','Column_B','Column_C', 'Column_D'])

(df.values < 0).any()

True

In [21]:
# Shirley's code

def negatives(data):
    negative_list = []
    for l in data:
        for num in l:
            if num < 0:
                negative_list.append(num)
    if len(negative_list) > 0:
        return True
    else:
        return False           
def frequent(data):
    second_column_values = []
    count = 1
    for l in data:
        second_column_values.append(l[1])
    for n in second_column_values:
        while second_column_values.count(n) > count:
            count = second_column_values.count(n)
        return print(f'number {n} frequency {count}')             
def positives(data):
    data_list = data.copy()
    for l in data:
        for num in l:
            if num < 0:
                data_list.remove(l)
    return data_list

print(negatives(data))
print(frequent(data))
print(positives(data))

True
number 3.1 frequency 2
None
[[4.9, 3.1, 1.5, 0.1], [5.0, 3.2, 1.2, 0.2], [4.4, 3.0, 1.3, 0.2]]

In [22]:
# Jamie's Code

def is_negative(data):
    new_list=[]
    for i in data:
        if min(i)<0:
            new_list.append("True")
    for i in new_list:
        if i=='True':
            result='True'
    return result

from collections import Counter
import numpy as np
def most_common_second(data):
    list_a=[]
    for i in data:
        second_col=i[1]
        list_a.append(second_col)
    c=Counter(list_a)
    mc=c.most_common(1)
   # print(second_col)
    return mc[0][0]

def non_negative(data):
    new_list=[]
    for i in data:
        if min(i)>=0:
            new_list.append(i)
    return new_list

print(is_negative(data))
print(most_common_second(data))
print(non_negative(data))

True
3.1
[[4.9, 3.1, 1.5, 0.1], [5.0, 3.2, 1.2, 0.2], [4.4, 3.0, 1.3, 0.2]]

In [4]:
# 1 without Pandas
def any_neg(data):
    below_zero = False
    for i in data:
        for j in i:
            if j < 0:
                below_zero = True
                break
    return below_zero

In [5]:
any_neg(data)

True

In [6]:
any_neg([[1, 2, 3,]])

False

In [11]:
# 2
import statistics

def sec_col_mode(data):
    second_col = []
    for i in data:
        second_col.append(i[1])
    return statistics.mode(second_col)

In [12]:
sec_col_mode(data)

3.1

In [13]:
# 3

def no_negs(data):
    pos_rows = []
    
    for i in data:
        if all(x > 0 for x in i) == True:
            pos_rows.append(i)
            
    return pos_rows

In [14]:
no_negs(data)

[[4.9, 3.1, 1.5, 0.1], [5.0, 3.2, 1.2, 0.2], [4.4, 3.0, 1.3, 0.2]]