<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Python Ladder Challenges

_Author:_ Tim Book

# Climb the Ladder!
Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section I: Numbers, variables, and math.

1) What is 123456789 times 987654321?

In [1]:
123456789 * 987654321

121932631112635269

2) Create a variable called `mass` that is equal to 100.

In [2]:
mass = 100

3) Create a variable called `velocity` that is equal to 5.

In [3]:
velocity = 5

4) In physics, the momentum an object is exerting is equal to its mass times its velocity. That is, $p = mv$. Use the variables you defined above to compute this object's momentum.

In [4]:
# In Python, it is best practice is to put spaces around outermost operators such as = and *
p = mass * velocity

5) The kinetic energy of an object is half its mass times the square of its velocity. That is, $K = \frac{1}{2}mv^2$. Compute the kinetic energy for this object using the variables you've already created.

In [5]:
# 1. In coding, it is preferred to write 0.5 instead of 1/2. (For example, 1/2 evaluates to 0 in Python 2!)
# 2. To avoid mistakes when translating math formulas, use the same variable names -- even if they are only one letter.
# 3. In Python, capitalized variable names typically indicate constants (i.e. their value is never changed after initialization).
K = 0.5 * mass * velocity * velocity

### How much icing do you need?
In the next few exercises, our goal will be to figure out how much icing we will need to perfectly cover a giant doughnut. The doughnut features a hole (unfortunately no jelly filling), and a few large sprinkles. We only need to find the area of the red region in this shape.

![](../imgs/donut.png)

6) Create a variable called `pi` that is equal to 3.141

In [6]:
pi = 3.141   # Never do this in practice -- instead, import math and use math.pi here!

7) The radius of the largest circle is 13.425. The radius of the smaller circle is 4.792. The sprinkles are right triangles with side length 3.28. Create the variables `R`, `r`, and `s` that represent these values.

In [7]:
# Again, to avoid translation mistakes we are following the math notation 
#    rather than Python convention (i.e. upper-case variables are constants)
R = 13.425
r = 4.792
s = 3.28

8) Find the area of the larger circle (the whole doughnut, including the hole). Call this variable `area_big_circle`.

* _Hint:_ The area of a circle with radius $r$ is $A = \pi r^2$.

In [8]:
# uppercase R is the big circle
# - Especially for short variable names, it is preferred to use R * R instead of R**2.
#     (Not everyone knows the order of operations for **)
area_big_circle = pi * R * R

9) Find the area of the smaller circle (the hole). Call this variable `area_small_circle`.

In [9]:
# lowercase r is the small circle
area_small_circle = pi * r * r

10) Find the area of one triangle (a sprinkle), where each sprinkle has a base and height of length `s`. Call this variable `area_sprinkle`.

* _Hint:_ The area of a triangle with base $b$ and height $h$ is $A = \frac{1}{2}bh$.

In [10]:
area_sprinkle = 0.5 * s * s

11) Using the three values you calculated above, find the area of the shaded region (i.e., how much icing will you need?). Save the result in a variable called `area_donut`.

In [11]:
# It is best practice to avoid constants such as 6 in your code.
# - Why? In this case, it is not obvious what 6 means or why it is in the formula.
# - To make it clear what 6 means, we put it in a variable called `NUM_SPRINKLES`.
# - In Python, constants are by convention uppercased.
NUM_SPRINKLES = 6
area_donut = area_big_circle - area_small_circle - NUM_SPRINKLES * area_sprinkle

# Part II: Strings

12) Create a variable called `name` that is equal to your name.

In [12]:
name = 'Dan'

13) By adding strings together, introduce yourself in a string. For example `"Hello, my name is Tim!"`. You may use f-strings if you know what they are and prefer to use them.

In [13]:
# Method One: Addition
'Hello, my name is ' + name + '!'

'Hello, my name is Dan!'

In [14]:
# Method Two: f-string (preferred) -- f-string stands for "formatted string"
f'Hello, my name is {name}!'

'Hello, my name is Dan!'

14) Define the string `fact` to be `"Python programming is fun."`

In [15]:
fact = 'Python programming is fun.'

15) Index `fact` in order to get the "o" in "Python".

In [16]:
# index: 01234              <- o is index 4 -- the first index is always 0!
#        Python programming ...
fact[4]

'o'

16) Index `fact` in order to get the "u" in "fun" using a negative index.

In [17]:
# index: -4 -3 -2  -1   <- `.` is the index -1, so `u` is index -3
#         f  u  n   .
fact[-3]

'u'

17) Slice `fact` in order to get the word "programming".

In [18]:
# index: 0123456 789012345678 9012345  <- Sometimes it's useful to write the ones digits of the index out first!
#        Python  programming  is fun.
fact[7:18]   # Starts at index 7, goes up to but not including index 18

'programming'

18) Uppercase `fact`.

In [19]:
# After you type `.`, press <Tab> to see what methods are available.
# - To view what parameters a method takes, press <Shift>+<Tab> when your cursor is inside the parentheses.
fact.upper()

'PYTHON PROGRAMMING IS FUN.'

19) Replace the period at the end of `fact` with an exclamation point.

In [20]:
# Method One: This removes the final letter and adds on a !
fact[:-1] + '!'

'Python programming is fun!'

In [21]:
# Method Two: Note this replaces *all* periods with exclamation points by default
fact.replace('.', '!')

'Python programming is fun!'

20) Use `.split()` to get the second word of this string. Was this easier than one of the problems above?

In [22]:
# By default, `.split()` splits on whitespace, i.e. spaces/tabs/newlines/etc
# - Confused how this works? Read it left to right: 
#    + First, `fact.split()` evaluates to a list of words -- ['Python', 'programming', 'is', 'fun.']
#    + Then, <list of words>[1] evaluates to the second word in the list (since the first word is index 0).
fact.split()[1]

'programming'

21) Reverse `fact`.

In [23]:
# Method One
fact[::-1]

'.nuf si gnimmargorp nohtyP'

In [24]:
# Method Two
''.join(reversed(fact))

'.nuf si gnimmargorp nohtyP'

22) Does `fact` contain the letter `y`? To find this answer, use the `in` keyword.

In [25]:
'y' in fact

True

23) How many `o`s does `fact` have?

In [26]:
fact.count('o')

2

24) Replace all the `o`s in `fact` with an underscore (do not redefine `fact`).

In [27]:
fact.replace('o', '_')

'Pyth_n pr_gramming is fun.'

# Part III: Lists

25) Create a list `friends` of your three best friends, `"Alice"`, `"Bob"`, and `"Charlie"`.

In [28]:
friends = ['Alice', 'Bob', 'Charlie']

26) Find the length of `friends`.

In [29]:
len(friends)

3

27) Add your new friend `"Debbie"` to your list of `friends`.

In [30]:
friends.append('Debbie')

28) Charlie has no-showed to your piano recital. Remove him from your `friends`.

In [31]:
# Note if there were multiple `'Charlie'`s in the list, this would only remove the first.
friends.remove('Charlie')

29) Using the `.join()` method, join `friends` to look like this _exactly_: `"Alice & Bob & Debbie"`

In [32]:
' & '.join(friends)

'Alice & Bob & Debbie'

30) What is the length of `[]`? What about `[[]]`? Why?

In [33]:
# We are asking for the length of an empty list (i.e. []).
# - The empty list contains zero elements, and so its length is 0.
len([])

0

In [34]:
# We are asking for the length of a list with one element -- an empty list (i.e. [[]]).
# - Note that `[1]` is a list containing one element -- a 1.
# - Similarly, `[[]]` is a list containing one element -- a [].
# - The list contains one element -- an empty list -- and so its length is 1.
len([[]])

1

For the next few problems, we'll use this list:

In [35]:
nested_deep = [1, [2, 3], 4, [5, [6, 7, [8]]]]

31) What is the length of `nested_deep`?

In [36]:
# nested_deep = [1, [a list], 4, [another list]]
# So, there are 4 elements -- 1, [a list], 4, and [another list].
len(nested_deep)

4

32) Index `nested_deep` to get the 5.

In [37]:
#     index:     0      1     2     *3*
# nested_deep = [1, [a list], 4, [5, [inner list]]]
# We write the solution left-to-right:
# - First, we notice `5` is inside the list at index 3.
# - So, `nested_deep[3]` evaluates to `[5, [6, 7, [8]]]`.
# - Then, from this the `5` is the first element, at index 0.
nested_deep[3][0]

5

33) Index `nested_deep` to get the 8.

* _Hint:_ If your answer looks like `[8]`, that's not the correct answer!

In [38]:
#       index:   0     1      2        3
# nested_deep = [1, [a list], 4, [5, [6, 7, [8]]]]
# Again, we write the solution left-to-right:
# - First, we notice `8` is inside the right-most list at index 3.
#   - `nested_deep[3]` evaluates to `[5, [6, 7, [8]]]` which is a list containing two lists.
# - Second, we notice `8` is in the second list at index 1.
#   - `nested_deep[3][1]` evaluates to `[6, 7, [8]]`.
# - We notice `8` is in the third element of this list at index 2.
#   - `nested_deep[3][1][2]` evaluates to `[8]`.
# - Finally, `8` is the first element of this list at index 0. 
#   - (Note that `[8]` is a list containing `8` -- it is not `8` itself.)
nested_deep[3][1][2][0]

8

# Section IV: Conditionals and Loops

34) Print out the numbers 1 through 10.

In [39]:
# Method One
# In English: "For each number in the range 1 up to 11, print the number."
# - `num` can be any variable name -- you get to name it.
# - Note by convention do not use `i` here, since `i` stands for index and we are not indexing into anything.
for num in range(1, 11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [40]:
# Method Two
print(list(range(1, 11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

35) Print out the odd numbers between 1 and 20 by using the third paramter to the `range()` function.

In [41]:
# Method One
for num in range(1, 21, 2):
    print(num)

1
3
5
7
9
11
13
15
17
19

In [42]:
# Method Two
print(list(range(1, 21, 2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

36) Print out the odd numbers between 1 and 20 by checking if the number is even before printing.

In [43]:
# For positive integers, `num % 2` evaluates to the remainder of `num` when divided by 2.
# - Even numbers have a remainder of 0 (they divide evenly), while odd numbers have a remainder of 1.
# - Hence, `num % 2 == 1` evaluates to `True` if `num` is odd and `False` otherwise.

# In English: "For each number in the range 1 up to 21, if the number has a remainder of 1 when divided by two then print it."
for num in range(1, 21):
    if num % 2 == 1:
        print(num)

1
3
5
7
9
11
13
15
17
19

37) What is the sum of the first 100 integers? Hint: Create a variable `total` equal to zero, and increment `total` inside a loop.

In [44]:
# Method One
total = 0
for n in range(101):
    total += n   # same as total = total + n

total

5050

In [45]:
# Method Two (preferred in practice)
sum(range(101))

5050

38) For each friend in your `friends` list, print `'PERSON IS AWESOME!'` in all caps, where `PERSON` is of course replaced with your friend's name.

In [46]:
friends = ["Alice", "Bob", "Charlie", "Debbie"]

In [47]:
# By convention, lists are plural.
# - When looping through a pluralized list variable, we typically use the singular form as the looping variable
for friend in friends:
    print(f'{friend.upper()} IS AWESOME!')

ALICE IS AWESOME!
BOB IS AWESOME!
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

39) Similar to the last problem, print `'PERSON IS AWESOME!'` for each friend in your friends list _only if their name ends in a vowel_. Otherwise, print `"person is ok..."` (all lowercase).

In [48]:
# 'aeiou' is a constant, so for readability we put it into a variable `VOWELS` which describes what it means.
# Again for readability, we break the inner code into two steps using the intermediate variable `last_letter`.
# - Note that `A in B` is valid for any B that can be iterated through, including lists/sets/dicts/strings.
# - So, we are testing whether `last_letter` is one of the characters in the string `'aeiou'`.

VOWELS = 'aeiou'
for friend in friends:
    last_letter = friend[-1].lower()
    if last_letter in VOWELS:         # Instead of 'aeiou', we use a variable describing what it is
        print(f'{friend.upper()} IS AWESOME!')

ALICE IS AWESOME!
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

40) For each number between 1 and 30 (inclusive), if a number is divisible by 3, print `'Fizz'`. Otherwise, just print the number.

In [49]:
# METHOD ONE
for num in range(1, 31):
    if num % 3 == 0:
        print('Fizz')
    else:
        print(num)

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
Fizz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
Fizz

In [50]:
# METHOD TWO: This uses the ternaray operator `X if <condition> else Y`
# - It is more compact, but it is not as easily extendable!
for num in range(1, 31):
    print('Fizz' if num % 3 == 0 else num)

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
Fizz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
Fizz

41) For each number between 1 and 30 (inclusive), if a number is divisible by 5, print `"Buzz"`. Otherwise, just print the number.

In [51]:
for n in range(1, 31):
    if n % 5 == 0:
        print('Buzz')
    else:
        print(n)

1
2
3
4
Buzz
6
7
8
9
Buzz
11
12
13
14
Buzz
16
17
18
19
Buzz
21
22
23
24
Buzz
26
27
28
29
Buzz

42) **FIZZBUZZ!** For each number between 1 and 30 (inclusive),
* if a number is divisible by 3, print `'Fizz'`
* if a number is divisible by 5, print `'Buzz'`
* if a number is divisible by both 3 and 5, instead print `'FizzBuzz'`,
* otherwise, just print the number

This problem is the famous "FizzBuzz" problem - and is a very common interview coding challenge! If you can do this without help, you're making awesome progress! Well done!

In [52]:
# METHOD ONE
for num in range(1, 31):
    if num % 15 == 0:        # alternatively -- if n % 3 == 0 and n % 5 == 0:
        print('FizzBuzz')
    elif num % 3 == 0:
        print('Fizz')
    elif num % 5 == 0:
        print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

In [53]:
# METHOD TWO - More compact
for num in range(1, 31):
    fizzbuzz = ''
    if num % 3 == 0: fizzbuzz += 'Fizz'
    if num % 5 == 0: fizzbuzz += 'Buzz'
    
    print(fizzbuzz if fizzbuzz else num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

43) Define some string `sentence`. If you can't think of a good one, feel free to use `fact` from the previous notebook.

In [54]:
sentence = 'Once upon a time, there was a goose.'

44) Count the number of vowels in `sentence` (no, y is not a vowel).
* _Hint:_ What happens if you loop through a string?

In [55]:
# METHOD ONE
VOWELS = 'aeiou'

num_vowels = 0
for char in sentence.lower():     # For each character in the string ...
    if char in VOWELS: 
        num_vowels += 1

num_vowels

14

In [56]:
# METHOD TWO
# In Python, `True` is 1 and `False` is 0. For example, `True + True + False == 2`.
# - We will use this fact often throughout the course.
# - Below, `char in VOWELS` is `True` if the character is a vowel and `False` otherwise.
# - This lets us avoid the `if` statement, so the result looks more compact.
VOWELS = 'aeiou'

num_vowels = 0
for char in sentence.lower():     # For each character in the string ...
    num_vowels += char in VOWELS  # char in VOWELS is either True (1)

num_vowels

14

45) Define a variable `sentence_rm` that is equal to `sentence` with all vowels removed. 
* _Hint:_ This is a tough one. Start out with an empty string and concatenate all of the consonants to it inside a loop.

In [57]:
# METHOD ONE
VOWELS = 'aeiou'

sentence_rm = ''
for char in sentence:
    if char not in VOWELS:
        sentence_rm += char

sentence_rm

'Onc pn  tm, thr ws  gs.'

In [58]:
# METHOD TWO: More compact via the ternary operator `X if <condition> else Y`
VOWELS = 'aeiou'

sentence_rm = ''
for char in sentence:
    sentence_rm += '' if char in VOWELS else char

sentence_rm

'Onc pn  tm, thr ws  gs.'

In [59]:
# METHOD THREE (preferred in practice)
# The main flaw in the previous methods is that they will be very slow for long strings.
# - Strings are immutable, so adding an extra character results in the entire string being copied to new memory every time.
# - Here, our code was getting lengthy so we used `\` to extend the line to the next line.
sentence_rm = sentence.replace('a', '').replace('e', '').replace('i', '')\
                      .replace('o', '').replace('u', '')
sentence_rm

'Onc pn  tm, thr ws  gs.'

46) Create a variable `fav_number` equal to whatever is your favorite integer. Write a loop to determine if `fav_number` is prime. Recall that a prime number is any number whose only divisors are 1 and itself. For example, 6 is not prime since it's divisible by 1, 2, 3, and 6. But 7 _is_ prime since it's only divisible by 1 and 7.

In [60]:
# Technical note: This is a very slow way of testing whether a number is prime!
# - For example, there is no need to test for any divisors > sqrt(fav_number), since they will never divide evenly.

fav_number = 37              # Prime
is_prime = fav_number > 1    # Initially assume the number is prime if > 1 (this ensures <= 1 are not prime)

# A number is prime if it has exactly two divisors -- 1 and itself.
# We exclude 1 and fav_number from the loop.
# - So, if there are *any* divisors inbetween, it is prime.
for num in range(2, fav_number):
    if fav_number % num == 0:   # Is `fav_number` evenly divisible by `num`?
        is_prime = False
        break                   # A single divisor indicates it is not prime. So, we leave the loop immediately to save time.

is_prime

True

47) A palindromic number reads the same both ways. For example, 1234321 is a palindrome. Write an `if` statement to test whether or not a number is palindromic.

In [61]:
# METHOD ONE
num = 1234321
digits = str(num)                   # To look at individual digits, must convert to a string first

if digits == digits[::-1]:          # Is `digits` identical to the reverse of `digits`?
    print('Is a palindrome!')
else:
    print('Is not a palindrome.')

Is a palindrome!

48) Find the largest palindrome made from the product of two two-digit numbers.
* _Tip:_ Do not worry about the "efficiency" of your answer! The easiest answer is very inefficient.

In [62]:
# METHOD ONE
TWO_DIGIT_NUMS = range(10, 100)         # Give the constant value a name to improve readability

largest_palindrome = 11                 # Set to a low number (in this case, we know 11 is a valid palindrome)
for a in TWO_DIGIT_NUMS:
    for b in TWO_DIGIT_NUMS:
        digits = str(a * b)             # For readability, pre-process digits into a variable first
        if digits == digits[::-1]:      # Is a*b a palindrome?
            largest_palindrome = max(a * b, largest_palindrome)   # if a*b > largest, let largest = a * b

largest_palindrome

9009

In [63]:
# METHOD TWO - It is much more readable to use a function -- especially if we will use `is_palindrome` more than once!
TWO_DIGIT_NUMS = range(10, 100)         # Give the constant value a name to improve readability

def is_palindrome(num):
    """Returns True if `num` is palindromic, else False."""
    digits = str(num)
    return digits == digits[::-1]

is_palindrome(1234321)  # Test

True

In [64]:
largest_palindrome = 11
for a in TWO_DIGIT_NUMS:
    for b in TWO_DIGIT_NUMS:
        if is_palindrome(a * b):      # Note how the code is now easy-to-read and self-commenting
            largest_palindrome = max(a * b, largest_palindrome)   # if a*b > largest, let largest = a * b

largest_palindrome

9009

In [65]:
# METHOD THREE
# Amazingly, we can do this in one line using a list comprehension! (Preview for Section V :D)

max(a * b for a in TWO_DIGIT_NUMS for b in TWO_DIGIT_NUMS if is_palindrome(a * b))

9009

# Section V: List Comprehensions

**Disclaimer:** Many (maybe all) of these exercises can be done without a list comprehension. However, listcomps are often the easiest way to solve a problem like this. Listcomps are also optimized in Python, meaning they are also often the _fastest_ way to solve a problem. In fact, **every problem in this section can be solved in one line of code!**

---
**IMPORTANT NOTE: Consider all ranges in this section to be *inclusive*.**

49) Create a list of the numbers 1 through 10.

In [66]:
# METHOD ONE (preferred)
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
# METHOD TWO: List comprehension

# This code is the same as:
#    new_list = []
#    for n in range(1, 11):   # The loop is verbatim the final part of the list comprehension
#        new_list.append(n)   # `n` -- what to append -- is the first part of the list comprehension

[n for n in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

50) Create a list of the squares of the numbers between 1 and 10.

In [68]:
# Because list comprehensions are compact, it is more acceptable to use one-letter variables.
# - So here, we use `n` instead of `num`.
[n*n for n in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

51) Create a list of all the even numbers between 18 and 47.

In [69]:
# This is called a "filter"
[n for n in range(18, 48) if n % 2 == 0]

[18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46]

52) Create a list of the squares of the even numbers between 1 and 20.

In [70]:
[n*n for n in range(1, 21) if n % 2 == 0]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

53) What is the sum of the cubes of the numbers between 7 and 37?

In [71]:
# METHOD ONE
# First, the list is created via the list comprehension. Then, its elements are summed.
sum([n*n*n for n in range(7, 37)])

443115

In [72]:
# METHOD TWO (preferred in practice)
# Without the brackets, this is not a list comprehension but a _generator_.
# - Instead of wasting time and memory creating a list first, 
#      each element is created on the fly when it is looped over in `sum`.
sum(n*n*n for n in range(7, 37))

443115

54) Create a list of all of the numbers divisible by either 3 or 5 (or both) between 1 and 30.

In [73]:
# If a number is divisible by 3, it is also divisible by 3 or 5!
[n for n in range(1, 31) if n % 3 == 0 or n % 5 == 0]

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30]

55) Redefine this list to be all uppercase.

In [74]:
friends = ["Alice", "Bob", "Charlie", "Derek"]

In [75]:
friends = [friend.upper() for friend in friends]

56) Remove all elements from `friends` whose names do not end in a vowel.

In [76]:
# METHOD ONE
[f for f in friends if f[-1].lower() in 'aeiou']

['ALICE', 'CHARLIE']

In [77]:
# METHOD TWO (preferred) - Easier to read using a function!
def ends_in_vowel(s):
    return s[-1].lower() in 'aeiou'

[f for f in friends if ends_in_vowel(f)]   # Much easier to understand

['ALICE', 'CHARLIE']

57) Take the `sentence` you used earlier and remove the vowels again. This time, using a one-line list comprehension.

* _Hint:_ You'll find the `.join()` method to be useful here.

In [78]:
# `.join()` is strange at first, because it acts on the separator. 
# Examples: - ''.join(['a', 'b', 'c']) == 'abc'
#           - '&&&'.join(['a', 'b', 'c']) == 'a&&&b&&&c'
''.join([c for c in sentence if c not in 'aeiou'])

'Onc pn  tm, thr ws  gs.'

58) You need to access Excel files that have names like `Jan 5.xlsx` or `Mar 15.xlsx`. Create a list of January 1 through January 31 like this. That is, create the list of: `['Jan 1.xlsx', 'Jan 2.xlsx', ... , 'Jan 31.xlsx']`.

In [79]:
[f'Jan {n}.xlsx' for n in range(1, 32)]

['Jan 1.xlsx',
 'Jan 2.xlsx',
 'Jan 3.xlsx',
 'Jan 4.xlsx',
 'Jan 5.xlsx',
 'Jan 6.xlsx',
 'Jan 7.xlsx',
 'Jan 8.xlsx',
 'Jan 9.xlsx',
 'Jan 10.xlsx',
 'Jan 11.xlsx',
 'Jan 12.xlsx',
 'Jan 13.xlsx',
 'Jan 14.xlsx',
 'Jan 15.xlsx',
 'Jan 16.xlsx',
 'Jan 17.xlsx',
 'Jan 18.xlsx',
 'Jan 19.xlsx',
 'Jan 20.xlsx',
 'Jan 21.xlsx',
 'Jan 22.xlsx',
 'Jan 23.xlsx',
 'Jan 24.xlsx',
 'Jan 25.xlsx',
 'Jan 26.xlsx',
 'Jan 27.xlsx',
 'Jan 28.xlsx',
 'Jan 29.xlsx',
 'Jan 30.xlsx',
 'Jan 31.xlsx']

59) Below is a list of amounts in euros. Create a new list, `dollars`, which is these amounts converted to U.S. dollars. There are 1.1 dollars per euro.

In [80]:
euros = [4.50, 6.70, 3.25, 9.99, 12.75, 0.35]

In [81]:
# `euro` is not the singular of `euros`, so we'll use `amt` here instead (for amount)
dollars = [1.1 * amt for amt in euros]

60) Below is a list of heights in inches. In order to ride a roller coaster, you must be at least 5 feet tall (60 inches). Filter this list to be _only_ those heights tall enough to ride.

In [82]:
heights = [71, 48, 55, 65, 68, 60, 58, 53]

In [83]:
[h for h in heights if h >= 60]

[71, 65, 68, 60]

61) Repeat the above exercise, except replace the lower heights with a `None` instead of dropping them.
* _Hint:_ Python has an in-line `if` statement, sometimes called a _ternary operator_ that you might find useful here. For example:

```
print('Tall enough' if 72 > 60 else 'Too short')
print('Tall enough' if 52 > 60 else 'Too short')
```

In [84]:
# Note the translation of this is:

#    new_heights = []
#    for h in heights:
#        new_heights.append(h if h >= 60 else None)

[h if h >= 60 else None for h in heights]

[71, None, None, 65, 68, 60, None, None]

62) Here are more heights below. However, this time, the information is contained in a dictionary. Create a list of the names _and ONLY the names_ of the people who are tall enough to ride the roller coaster.

* _Hint:_ How can you loop through a dictionary?

In [85]:
people = {
    'Aaron': 58,
    'Barbara': 66,
    'Clarence': 62,
    'Donovan': 55,
    'Erika': 70,
    'Fernando': 72
}

In [86]:
# `people.items()` loops through each key-value pair as a tuple:
# - i.e. it generates the tuples: `[('Aaron', 58), ('Barbara', 66), ...]`
# Then tuple unpacking is used to unpack each:
# - i.e. `name,height = ('Aaron', 58)` sets `name = 'Aaron'` and `height = 58`

# The translation is:

# tall_people = []
# for name,height in people.items():
#     if height >= 60:
#         tall_people.append(name)


[name for name,height in people.items() if height >= 60]

['Barbara', 'Clarence', 'Erika', 'Fernando']

63) Below we have some more data on our classmates. This time, the dictionary values are test scores. A student's final grade is their _maximum_ score on these three tests. Create a list of the students' final grades.

In [87]:
people = {
    'Aaron': [87, 52, 78],
    'Barbara': [92, 79, 85],
    'Clarence': [42, 68, 55],
    'Donovan': [95, 100, 87],
    'Erika': [62, 88, 47],
    'Fernando': [84, 99, 0]
}

In [88]:
[max(scores) for scores in people.values()]

[87, 92, 68, 100, 88, 99]

64) Repeat the above problem, except create a _dictionary_ of the final scores, where the dictionary keys are the names, and the dictionary values are the final grade.

* _Hint:_ You can do **dictionary comprehension** to solve this problem! Yes, it exists!

In [89]:
{name: max(scores) for name,scores in people.items()}

{'Aaron': 87,
 'Barbara': 92,
 'Clarence': 68,
 'Donovan': 100,
 'Erika': 88,
 'Fernando': 99}

65) Using the two lists defined below, create the following resulting list:

`['AZ', 'BY', 'CX', 'DW', 'EV']`

* _Hint:_ Check out the `zip()` function.

In [90]:
letters_a = ['A', 'B', 'C', 'D', 'E']
letters_z = ['Z', 'Y', 'X', 'W', 'V']

In [91]:
# Similarly to `.items()`, `zip` puts together the elements at index 0, then index 1, etc.
# - i.e. `zip(letters_a, letters_z)` generates the tuples: `('A', 'Z'), ('B', 'Y'), ('C', 'X'), ...`
# Then, the loop performs tuple unpacking on each of the tuples:
# - i.e. `a,z = ('A', 'Z')` sets `a = 'A'` and `z = 'Z'`.

[a + z for a,z in zip(letters_a, letters_z)]   # `a` and `z` are strings, and so `a + z` is a string!

['AZ', 'BY', 'CX', 'DW', 'EV']

66) Using `letters_a` defined in the previous problem, create the following list:

```
[
    'A is letter 1 of the alphabet',
    'B is letter 2 of the alphabet',
    ...
]
```

* _Hint:_ Checkout the `enumerate()` function.

In [92]:
# `enumerate(letters_a)` works the same as `zip` and `.items()`!
# It generates a tuple that pairs each index with its element.
# - i.e. it generates: `(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D'), (4, 'E')`.
# Then, the loop performs tuple unpacking on each:
# - i.e. `i,letter = (0, 'A')` sets `i = 0` and `letter = 'A'`.

[f'{letter} is letter {i+1} of the alphabet' for i,letter in enumerate(letters_a)]

['A is letter 1 of the alphabet',
 'B is letter 2 of the alphabet',
 'C is letter 3 of the alphabet',
 'D is letter 4 of the alphabet',
 'E is letter 5 of the alphabet']

# Section VI: Libraries, imports and some more math!

67) Import the `math` library

In [93]:
import math

68) The `math` library has a lot of cool stuff in it. For this problem, evaluate the following math expressions:

a) $\sin{\frac{\pi}{2}}$

In [94]:
# Note that `2` evaluates to an int, while `2.` evaluates to a float.
# - In this case, `math.pi` is a float so both will evaluate the same way.
# - However, if you know the result should be a float, many coders will put a period after it.
# - Doing so 1) informs the reader the result will be a float, and 2) forces the result to be a float (e.g. in Python 2)
math.sin(math.pi / 2.)

1.0

b) $\ln{\sqrt{e}}$
* _Hint:_ A logarithm with base $e$ is represented by just `log` in `math`. In fact, throughout the course, $\log$ with no subscript will always denote the natural log (ie, log base $e$).

In [95]:
# Natural log -- note ln(sqrt(e)) == ln(e^0.5) == 0.5 * ln(e) == 0.5 * 1 == 0.5.
math.log(math.sqrt(math.e))

0.5

c) $e^{3!}$

In [96]:
# METHOD ONE
math.pow(math.e, math.factorial(3))

403.428793492735

In [97]:
# METHOD TWO (should be identical)
math.e ** math.factorial(3)

403.428793492735

69) Two popular math functions are the "round up" and "round down" functions. In computer science, we call them the "ceiling" and "floor" functions. They're used and denoted as follows:

* `ceil(3.8)` $= \lceil 3.8 \rceil = 4$
* `ceil(3.2)` $= \lceil 3.2 \rceil = 4$
* `floor(3.8)` $= \lfloor 3.8 \rfloor = 3$
* `floor(3.2)` $= \lfloor 3.2 \rfloor = 3$

We _only_ need these two functions out of the `math` library. Use an `import` statement to import _only_ these two functions and verify the above examples are true.

In [98]:
from math import floor, ceil

In [99]:
print(ceil(3.8))
print(ceil(3.2))
print(floor(3.8))
print(floor(3.2))

4
4
3
3

70) We can also _alias_ library names if they're too long and we will be using them often. As we will do many times in this course, import the following three libraries:

* Import the `numpy` library, aliasing it as `np`
* Import the `pandas` library, aliasing it as `pd`
* Import the `matplotlib.pyplot` library and submodule, aliasing it as `plt`

In [100]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

71) You can also import everything from a library all at once without needing to prefix it:

`from math import *`

For this question your task is: _never, **ever**_ do this.

Why?
1. It "pollutes" the namespace with variable names that could easily be overwritten on accident.
    - For example, after the import we could accidentally define `sin = 'without'` then be surprised when `sin(0.5)` no longer works!
2. It does not show the reader which module a given function came from. 
    - For example, we see above that `ceil` came from the `math` library since it was noted in the import.
    - If we use * is much more difficult to determine which module `ceil` is from.

# Section VII: Functions
In this section, every question gives example(s). You can (but don't need to) name your function accordingly. You _should_ test out the example to make sure your function works properly. If the example doesn't work, your answer is likely incorrect.

72) Write a function to compute the area of a triangle. You only need the base and height of a triangle to compute its area.

* _Example:_ `area_triangle(5, 4) == 10.0`

In [101]:
# It good to get in the habit of writing a docstring with every function.

def area_triangle(base, height):
    """Returns the area of a triangle with given `base` and `height`."""
    return 0.5 * base * height

area_triangle(5, 4)

10.0

73) Import `pi` from `math` and write a function to compute the area of a circle. You only need the radius of a circle to compute its area.

* _Example:_ `area_circle(10) == 314.159...`

In [102]:
from math import pi

def area_circle(r):
    """Returns the area of the circle with radius `r`."""
    return pi * r * r

area_circle(10)

314.1592653589793

74) Write a function that takes in a number `max_num` and returns the sum of the numbers 1 through `max_num` (inclusive).
* _Example:_ `sum_n(5) == 1 + 2 + 3 + 4 + 5 == 15`

In [103]:
def sum_n(max_num):
    """Returns the sum of the numbers 1 through `max_num` (inclusive)."""
    return sum(range(max_num+1))

sum_n(5)

15

75) Write a function that takes in a number `max_num` and returns the sum of the square of the numbers 1 through `max_num` (inclusive).
* `sum_squares(5) == 1 + 4 + 9 + 16 + 25 == 55`

In [104]:
def sum_squares(max_num):
    """Returns the sum of the first `max_num` square numbers."""
    return sum(n*n for n in range(max_num+1))

sum_squares(5)

55

76) Write a function that takes a number (an amount in euros) and convert it to U.S. dollars. There are 1.1 U.S. dollars per euro.
* `to_dollar(10) == 11.0`

In [105]:
def to_dollar(num_euros):
    """Returns the dollar equivalent of `num_euros` euros."""
    return 1.1 * num_euros

to_dollar(10)

11.0

77) Write a function that takes a list of numbers (amounts in euros), and returns them converted to dollars. Use your answer to the previous question in your answer to this question.
* _Example:_ `to_dollar_list([1, 10, 100]) == [1.1, 11.0, 110.0]`
* _Note:_ You may get some decimal weirdness here.

In [106]:
def to_dollar_list(euros_list):
    """Returns the dollar equivalent of each euro quantity in the list `euros_list`."""
    return [to_dollar(num_euros) for num_euros in euros_list]

to_dollar_list([1, 10, 100])

[1.1, 11.0, 110.00000000000001]

78) Write a function that takes a number (a person's height) and returns "Tall enough" if they are at least 5 feet (60 inches) or "Too short" if they are below 5 feet.
* _Example:_ `is_tall(72) == 'Tall enough'`
* _Example:_ `is_tall(52) == 'Too short'`

In [107]:
def is_tall(height):
    """Returns 'Tall enough' or 'Too short' given `height`."""
    return 'Tall enough' if height >= 60 else 'Too short'

print(is_tall(72))
print(is_tall(52))

Tall enough
Too short

79) Write a function that takes a list of numbers (peoples' heights) and returns a list of strings "Tall enough" or "Too short" as in the previous problem. Use your answer to the previous problem to help answer this problem.
* _Example:_ `is_tall_list([58, 70, 60]) == ['Too short', 'Tall enough', 'Tall enough']`

In [108]:
def is_tall_list(heights):
    """Returns a list of strings expressing whether the respective height in `heights` is tall enough."""
    return [is_tall(h) for h in heights]

is_tall_list([58, 70, 60])

['Too short', 'Tall enough', 'Tall enough']

80) Write a function that takes in a numeric grade (0 to 100) and returns the letter grade (no pluses or minuses). In a traditional rubric, that would be as follows:

* 90 or above = A
* 80 - 89 = B
* 70 - 79 = C
* 60 - 69 = D
* 59 or below = F
    
    
* _Example:_ `letter_grade(85) == 'B'`

In [109]:
def letter_grade(score):
    """Returns the letter grade for `score`."""
    if score >= 90: return 'A'
    elif score >= 80: return 'B'
    elif score >= 70: return 'C'
    elif score >= 60: return 'D'
    else: return 'F'

letter_grade(85)

'B'

81) Write _another_ function that takes a list of numeric grades and returns their letter grades. Use the function written above in your answer.

* _Example:_ `letter_grades([85, 62, 90]) == ['B', 'D', 'A']`

In [110]:
def letter_grades(scores):
    """Returns a list of letter grades for each respective score in `scores`."""
    return [letter_grade(score) for score in scores]

letter_grades([85, 62, 90])

['B', 'D', 'A']

82) Write a function that takes in a string and returns the number of vowels in that string. (No, y is not a vowel).
* _Example:_ `vowel_count('General Assembly') == 5`

In [111]:
def vowel_count(s):
    """Returns the number of vowels in the string `s`."""
    return sum(c in 'aeiou' for c in s.lower())

vowel_count('General Assembly')

5

83) Write a function that takes in a string and returns that string with its consonants capitalized and vowels lowercased.

* _Example:_ `toggle_case('General Assembly') == 'GeNeRaL aSSeMBLY'`

In [112]:
def toggle_case(s):
    """Returns a string with uppercase consonants and lowercase vowels in the string `s`."""
    return ''.join(c.lower() if c in 'aeiou' else c.upper() for c in s.lower())

toggle_case('General Assembly')

'GeNeRaL aSSeMBLY'

84) Write a function that takes in a string and returns that string with its vowels removed.
* _Example:_ `disemvowel('Python is my favorite language') == 'Pythn s my fvrt lngg'`

In [113]:
def disemvowel(s):
    """Removes the vowels from the string `s`."""
    return ''.join(c for c in s if c not in 'aeiou')

disemvowel('Python is my favorite language')

'Pythn s my fvrt lngg'

85) Write a function that takes in a string and returns that string with its vowels removed _unless it's a one-letter word_, in which case leave the vowel intact. You should use your answer in the previous problem to answer this.
* _Example:_ `smart_disemvowel('I love Python programming') == 'I lv Pythn prgrmmng'`

In [114]:
def smart_disemvowel(s):
    """Removes the vowels from the string `s`, unless `s` is a single character."""
    return s if len(s) == 1 else disemvowel(s)

print(smart_disemvowel('Python is my favorite language'))
smart_disemvowel('a')

Pythn s my fvrt lngg

'a'

86) Write a function that takes in a string (likely multiple words long) and returns that string with the order of the words reversed.
* _Example:_ `word_reverser('Data science is cool') == 'cool is science Data'`

In [115]:
def word_reverser(s):
    """Reverses the order of words in the string `s`."""
    return ' '.join(reversed(s.split(' ')))

word_reverser('Data science is cool')

'cool is science Data'

87) Write a function that takes in a string (likely multiple words long) and returns that string with each word reversed, but with the words in the same order.
* _Example:_ `letter_reverser('Data science is cool') == 'ataD ecneics si looc'`

In [116]:
# Could also use w[::-1]

def letter_reverser(s):
    """Reverses the letters in the string `s`."""
    return ' '.join(''.join(reversed(w)) for w in s.split(' '))

letter_reverser("Data science is cool")

'ataD ecneics si looc'

88) Write a function that converts a string to "leet speak". Leet speak is a made-up internet language which you replace characters with symbols that look like those characters. For example:

* _Example:_ `to_leet_speak('i am elite') == '! @M 31!73'`
* _Hint:_ Recall what `.get()` does when called on a dictionary? Will this help you with spaces or other non-letter characters?

_Note:_ This problem is borrowed from [this](https://www.codewars.com/kata/toleetspeak) wonderful Codewars challenge!

Below is the English-to-leet dictionary:

In [117]:
LEET_DICT = {'A' : '@', 'B' : '8', 'C' : '(', 'D' : 'D', 'E' : '3',
             'F' : 'F', 'G' : '6', 'H' : '#', 'I' : '!', 'J' : 'J',
             'K' : 'K', 'L' : '1', 'M' : 'M', 'N' : 'N', 'O' : '0',
             'P' : 'P', 'Q' : 'Q', 'R' : 'R', 'S' : '$', 'T' : '7',
             'U' : 'U', 'V' : 'V', 'W' : 'W', 'X' : 'X', 'Y' : 'Y',
             'Z' : '2'}

In [118]:
def to_leet_speak(s):
    """Converts `s` to leet speak."""
    return ''.join(LEET_DICT.get(c, c) for c in s.upper())   # If `c` does not exist in LEET_DICT, just append `c` to the string.

to_leet_speak("i am elite")

'! @M 31!73'

89) Write an `is_prime` function that takes in a number and returns a boolean of whether or not that number was prime. (_Hint:_ You already did this in a previous section.)

* _Example:_ `is_prime(5) == True`
* _Example:_ `is_prime(6) == False`

In [119]:
def is_prime(num):
    if num < 2: return False      # Numbers < 2 are not prime
    
    # A number is prime if it is divisible only by 1 and itself.
    # - So, if any other number inbetween is a divisor, then the number is not prime
    for test_num in range(2, num):
        if num % test_num == 0:      # `test_num` divides evenly into `num`
            return False
    
    return True

# == TESTS ==
# Assert that 5 is prime and 6 is not prime.
# - Nothing will be displayed if the assertions are true.
# - So, the tests pass if nothing is displayed.
assert(is_prime(5) == True)
assert(is_prime(6) == False)

90) Write a function that takes in a number and returns the sum of all primes less than or equal to that number. You'll need your answer to the previous problem to answer this.
* _Example:_ `sum_primes(11) == 2 + 3 + 5 + 7 + 11 == 28`
* _Bonus:_ Can you do this in one line with a listcomp?

In [120]:
def sum_primes(max_n):
    return sum(n for n in range(2, max_n+1) if is_prime(n))

sum_primes(11)

28

# Section VIII: What's next?

## Section VIIIa: Virtual Practice

Now that we've got a handle on the basics (and a few problems much more difficult than "basic"), what do we do next? If you'd like some more difficult challenges, sign up for [Codewars](https://www.codewars.com)! Codewars is a website in which you are repeatedly given coding challenges that get progressively more difficult. You earn XP and level up, giving you harder and harder problems. Below is an ever-updating list of coding challenges that we recommend. Some of them are Codewars challenges, some from other resources:

* [Run-length Encoding](https://www.codewars.com/kata/run-length-encoding-1) (Codewars)
* [Permutations](https://leetcode.com/problems/permutations/) (Leetcode)
* ["1-Dimensional Candy Crush"](https://leetcode.com/discuss/interview-question/380650/bloomberg-phone-screen-candy-crush-1d) (Leetcode)

## Section VIIIb: Real Interview Challenges
Below are interesting challenges stolen directly from real interviews! These challenges have been reported from both GA students and GA instructors. If you find a good one in your future interviews, please come back and tell us! This section of the ladder is ever-updating.

### File Permissions
In UNIX-like systems (eg, Mac and Linux), the permissions on certain files are given by short 9-character codes. These characters represent the read (**r**), write (**w**), and execute (**x**) permissions of the owner, assigned group, and all users, respectively. For example, the code

`rwx------`

means the file owner has all 3 kinds of permissions, but no one else can do anything. Another common code is 

`rwxr-xr-x`

which means that everyone can read and execute the file, but only the owner has permission to write to it (that is, to change it). You can see these permissions yourself by typing `ls -l` from your command line!

In order to further save space, these codes are often saved as a 3-digit number, where each digit corresponds to the sum of the values of `r`, `w`, and `x`. `r` is worth 4, `w` is worth 2, `x` is worth 1, and `-` is worth 0. For example, `rwx------` is shortened to the code `700`, and `rwxr-xr-x` is `755`.

Your challenge is to write a function that shortens the "permission string" to its corresponding "permission code" (properly known as its "octal notation"). Please note that the output of your function should be an integer, not a string! You can assume the "permission string" is always valid.

* _Example:_ `permissions_to_octa("rwxr-xr-x") = 755`

In [121]:
# METHOD ONE
def permissions_to_octal(permissions):
    permission_dict = {'r': 4, 'w': 2, 'x': 1, '-': 0}
    
    p_owner = sum([permission_dict[char] for char in permissions[:3]])
    p_group = sum([permission_dict[char] for char in permissions[3:6]])
    p_users = sum([permission_dict[char] for char in permissions[-3:]])
    
    return int(f"{p_owner}{p_group}{p_users}")

# TEST
print(permissions_to_octal('rwxr-xr-x'))   # 755
print(permissions_to_octal('rw-------'))   # 600

755
600

In [122]:
# METHOD TWO
# A good strategy is to break down the problem into two simpler parts:
#   1. First, compute the octal digit for a 3-char string, e.g. "rwx" is 7.     <-- Below, this is the function 'octal'
#   2. Then, split the string into 3-char chunks and combine the resulting octal codes.

def permissions_to_octal(p):
    """Returns the 3-digit octal code given permissions string `p`, e.g. 'rwxr-xr-x' is 755."""
    
    def octal(p3):
        """Returns the octal digit for a 3-char permission string `p3`, e.g. 'rwx' is 7."""
        return 4*(p3[0]=='r') + 2*(p3[1]=='w') + 1*(p3[2]=='x')
    
    # Break the permissions into three 3-char strings. Multiply each score by its base-10 position.
    return 100*octal(p[:3]) + 10*octal(p[3:6]) + 1*octal(p[6:])


# TEST
print(permissions_to_octal('rwxr-xr-x'))   # 755
print(permissions_to_octal('rw-------'))   # 600

755
600

In [123]:
# A few notes:
# 1. Having trouble approaching the problem? Start by solving examples by hand on paper.
#    - If you can't solve some examples yourself, then you have a low chance of writing correct Python code!
#    - Once you do this, it will become easier seeing the need for these two steps, since it is what you do naturally by hand.

# 2. Note our function does not detect invalid strings -- if this was an interview, make sure you "raise" this with the interviewer!

# 3. One exception to the "spaces before and after each operator" rule is if the operator is not outermost.
#    Examples:
#       - In `1 + 2*3 + 4*5*6 + 7`, there is no need for spaces around `*`, since `+` is outermost.
#       - (See the function above for more examples, where `+` is again outermost and `*` and `==` are not.)
#       - This is to enhance readability.

# 4. Above, we define an "inner function." Do not be scared by this! 
#    - We are just declaring a new local variable `octal` that only exists inside the function `permissions_to_octal`.
#    - We do this because `octal` is ONLY used inside `permissions_to_octal`, 
#         so it doesn't make sense to declare it elsewhere. (This is a programming principle called "encapsulation.")

# 5. Writing 1* above is unnecessary but written for clarity, to show how it is similar to the other multiples.

### Grocery Bags
A large grocery bag can hold 5 items, while a small grocery bag can hold only 1. The numbers of each size bag available may be limited. All items must be placed in a bag and each bag must be filled completely. For example, if we have 16 items, 2 large bags, and 10 small bags, 8 total bags are needed. 2 large bags + 6 small bags = 16 items in 8 bags.

Write a function to calculate the **minimum** number of bags needed. If it's not possible to meet these conditions, return `-1`.

* `min_bags(16, 2, 10) = 8`
* `min_bags(20, 2, 2) = -1`

In [124]:
# Start by trying some by hand using pencil and paper.
# - You will realize that we must first exhaust the 5-item bags,
#      then put everything else into 1-item bags.
def min_bags(num_items, avail_large, avail_small):
    """
    Return the least number of bags needed to hold `items` items, 
        given there are only `avail_large` 5-item bags and `avail_small` 1-item bags.
    """
    num_large = min(num_items // 5, avail_large)   # We need `num_large` 5-item bags (at MOST `avail_large`)
    num_small = num_items - 5*num_large            # We need `num_small` 1-item bags for everything else
    
    # If we need more 1-item bags than are available, return -1
    return -1 if avail_small < num_small else num_large + num_small


# TESTS
assert(min_bags(16, 2, 10) == 8)
assert(min_bags(20, 2, 2) == -1)

In [125]:
# Let's break this logic down more if it is still confusing:
#   We will fill the large bags first, then put what's left into small bags.

# == LARGE BAGS ==
# How many large bags do we need?
# - `num_items // 5` is a normal division where the decimal part is truncated. (It is the "quotient.")
# - Let's say we have 21 items, 3 large bags, and 3 small bags. How many large bags will we use?
#     - At most, we could fill `num_items // 5 == 4` large bags.
#     - However, we only have 3 large bags.
#     - So, we will use `min(num_items // 5, 3) == 3` large bags.

# == SMALL BAGS ==
# Now that we've filled our large bags, how many small bags do we need?
# - Again, let's say we have 21 items, 3 large bags, and 3 small bags.
#     - If we fill our 3 large bags, we are left with: 21 - 3 * 5 = 6 items.
#     - Since we only have 3 small bags, we'll return -1. 
#     - If instead we had >= 6 small bags, we would have returned 3 large + 6 small = 9 bags.

In [126]:
# Note we did not replace the constant 5 within the code, as we've recommended earlier.
#   - The best practice for adding a constant within a function is to add it as
#        an optional named parameter. This allows the end-user to change the constant!
#   - Also note that our solution code only holds when the small bags hold 1 item!
#        So, we will not allow modification of the small-bag size.

# Here is an example of moving the constant `5` into a default-value function parameter.
# This would be the preferred solution.
def min_bags(num_items, avail_large, avail_small, ITEMS_PER_LARGE=5):
    """
    Return the least number of bags needed to hold `items` items, given there are only:
        + `avail_large` ITEMS_PER_LARGE-item bags and 
        + `avail_small` 1-item bags.
    """
    num_large = min(num_items // ITEMS_PER_LARGE, avail_large)  # The code is easier to understand, since
    num_small = num_items - ITEMS_PER_LARGE*num_large           #   the '5' constant now has a readable name!
    
    # If we need more 1-item bags than are available, return -1
    return -1 if avail_small < num_small else num_large + num_small


# TESTS
assert(min_bags(16, 2, 10) == 8)
assert(min_bags(20, 2, 2) == -1)